html {
  background-color: rgb(245, 245, 245);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 60px auto;
}

h1 {
  color: rgb(33, 33, 33);
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  font-weight: bold;
}

ul {
  padding: 0;
}
li {
  list-style: none;
  color: #878787;
  font-size: 14px;
  line-height: 22px;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

small {
  padding: 10px;
}
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 5px 7px -5px rgba(0, 0, 0, 0.5);
}

.units a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  font-weight: 200;
}
.weather-app {
  background-color: rgb(245, 245, 245);
}
.container {
  padding: 40px;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: 1px 5px 5px -5px #000000;
}
.current-weather {
  margin-top: 30px;
  height: 70px;
}
.weather-temperature img {
  height: 70px;
  width: 70px;
  vertical-align: top;
}

.weather-temperature {
  text-align: left;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  font-size: 18px;
  line-height: 2;
  vertical-align: top;
}
.form-control {
  background-color: rgb(245, 245, 245);
}

.weather-forecast {
  text-align: center;
}
.weather-forcast-date {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.parameters {
  padding: 0;
}

.current-city {
  text-align: right;
}
